{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Event CREATE! {% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="col d-flex justify-content-center" align="right">
        <div class="col-md-6" align="right">
            <div class="card" align="center">
                <div class="card-header">
                    <h3 class="card-title">FORM Event Create</h3>
                </div>
                <form method="POST" class="row gy-2 gx-3 align-items-center">{% csrf_token %}
                    <div class="card-body" align="center">
                         <div class="form-group" align="left">
                            <label for="name">Description</label>
                            <div class="col-sm-10">
                                <input type="text" id="description" value="{{ event.name }}"
                                       class="form-control form-control-lg" name="name", id="name"
                                       placeholder="description"/>
                                <div>
                                    </input>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" align="left">
                            <label for="start">Date Start</label>
                            <div class="col-sm-10">
                                <input type="datetime-local" id="start"
                                       value="{{ event.start |date:'Y-m-d\TH:i' }}" class="form-control form-control-lg"
                                       name="start"/>
                                <div>
                                    </input>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" align="left">
                            <label for="end">Date End</label>
                            <div class="col-sm-10">
                                <input type="datetime-local" id="end"
                                       value="{{ event.end |date:'Y-m-d\TH:i' }}"
                                       class="form-control form-control-lg"
                                       name="end"/>
                                <div>
                                    </input>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" align="left">
                            <label for="color">Color</label>
                            <div class="col-sm-10">
                                <input type="color" id="color" value="{{ event.color }}"
                                       class="form-control form-control-lg" name="color"/>
                                <div>
                                    </input>
                                </div>
                            </div>
                        </div>
                        <div class="form-control-lg custom-control custom-switch">
                                      <input type="checkbox" class="custom-control-input" id="statusCheckbox" name="status" {% if event.status %}checked{% endif %}>
                                       <label class="custom-control-label"  for="statusCheckbox">Status </label>
                            </div>
                        <div class="card-body" align="left">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}