{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Event! {% endblock title %}
{% block content %}


<div id="container" style="width: 100%;">
    <h1>Event Detail</h1>
    <h3>Name : {{ events.name }}</h3>
    <h3>Start : {{ events.start }}</h3>
    <h3>End : {{ events.end }}</h3>
    <h3>createDate : {{ events.createDate }}</h3>
    <h3>Color :{{ events.color }}</h3>
    <h3>Status :{{ events.status }}</h3>
    <h3>Author : {{ events.author }}</h3>
</div>

{% endblock %}
