{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}

{% block title %} навбатчини кўриш! {% endblock title %}
{% block content %}


<div id="container" style="width: 100%;">
    <h1>Duty Detail</h1>
    <h3>навбатчи : <b>{{ duty.duty }}</b></h3>
    <h3>қачондан : <b>{{ duty.start }}</b></h3>
    <h3>қачонгача : <b>{{ duty.end }}</b></h3>
    <h3>изох :<b>{{ duty.description }}</b></h3>
    <h3>ранги :<b>{{ duty.color }}</b></h3>
    <h3>ҳолати :<b>{{ duty.status }}</b></h3>
    <h3>муаллиф :<b>{{ duty.author }}</b></h3>
</div>

{% endblock %}
