 {% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Problem Edit! {% endblock title %}
{% block content %}
    <h2 class="text-center">Joriy Navbatchini tahrirlash</h2>
    <form  class="row gy-2 gx-3 align-items-center" method="post" enctype="multipart/form-data"
           action="{% url 'duty_edit' pk=duty.id %}">
          {% csrf_token %}
<div class="form-group col-md-3">
       <div class="container special-box">
            <label for="user">Select User:</label>
                <select class="form-control" id="user" name="user_id">
                    {% for user in users %}
                        <option value="{{ user.id }}"> {{user.last_name}} {{user.first_name}}</option>
                    {% endfor %}
                </select>
       </div>
       <div class="container special-box">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="start">Start</label>
              <input type="datetime-local" id="start" value="{{ duty.start }}" class="form-control form-control-lg"
                     name="start"/>
             </div>
       </div>
       <div class="container special-box">
            <div data-mdb-input-init class="form-outline">
              <label class="form-label" for="end">End</label>
              <input type="datetime-local" id="end" value="{{ duty.end }}" class="form-control form-control-lg"
                     name="end"/>
             </div>
       </div>

      <div class="container special-box">
            <div data-mdb-input-init class="form-outline">
             <label class="form-label" for="description">Description</label>
             <input type="text" id="description" value="{{ duty.description }}" class="form-control form-control-lg" name="description" />
            </div>
      </div>
      <div class="container special-box">
            <div data-mdb-input-init class="form-outline">
             <label class="form-label" for="color">Color</label>
             <input type="color" id="color" value="{{ duty.color }}" class="form-control form-control-lg" name="color" />
            </div>
      </div>
      <div class="form-check form-switch">
        <label  class="form-label" >Status</label>
        <div data-mdb-input-init class="form-outline">
        <label for="l_box1"><input type="radio" name="status" value="1" id="l_box1">Activ</label>
        <label for="d_box2"><input type="radio" name="status" value="0" id="d_box2"> Noactiv</label>
        </div>
      </div>
     <div class="form-check form-switch">
        <button type="submit" class="btn btn-primary">Problem +</button>
     </div>
  </div>
</form>
{% endblock  %}