{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Duty! {% endblock title %}
{% block content %}


<div id="container" style="width: 100%;">
    <h1>Duty Detail</h1>
    <h3>Navbatchi : {{ duty.duty }}</h3>
    <h3>Start : {{ duty.start }}</h3>
    <h3>End : {{ duty.end }}</h3>
    <h3>Description :{{ duty.description }}</h3>
    <h3>Color :{{ duty.color }}</h3>
    <h3>Status :{{ duty.status }}</h3>
    <h3>Author : {{ duty.author }}</h3>
</div>

{% endblock %}
