{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Комплекс! {% endblock title %}
{% block content %}


<div id="container" style="width: 100%;">
    <h1>Комплексни кўриш</h1>
    <h3>Номи: <b> {{ compleks.name }}</b></h3>
    <h3>тармоқ схемаси: <b> {{ compleks.schema_net }}</b></h3>
    <h3>ҳужжати: <b> {{ compleks.documents }}</b></h3>
    <h3>яратилган вақти: <b> {{ compleks.createDate }}</b></h3>
    <h3>муаллиф: <b> {{ compleks.author }}</b></h3>
    <h3>ҳолати: <b> {{ compleks.status }}</b></h3>
</div>

{% endblock %}