{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}
{% block title %} мутахасислик ўқув дарслари! {% endblock title %}
{% block extra_js %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/js/dataTable.lang.js"></script>
{% endblock extra_js %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="{%url 'education_create'%}" class="btn btn-primary"><i class="fa-sharp fa-solid fa-plus"></i>&nbsp;мутахасислик бўйича дарс қўшиш</a>
                            </li>
                        </ul>
                        <table id="example" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>мавзу номи</th>
                                <th>ўқитувчи ходим</th>
                                <th>мавзу</th>
                                <th>яратилган вақти</th>
                                <th>дарс вақти</th>
                                <th>ҳолати</th>
                                <th>муаллиф</th>
                                <th>файл</th>
                                <th>танишган ходимллар</th>
                                <th>танишдим мавзу билан</th>
                                <th>қачондан</th>
                                <th>қачонгача</th>
                                <th>амалиёт</th>
                            </tr>
                            </thead>
                            {% for education in education_list %}
                            <tr class="{% if education.toDate > sysdate %}yellow-row{% else %}red-row{% endif %}">
                                <td>{{ education.name }}</td>
                                <td>{{ education.teacher }}</td>
                                <td>{{ education.info }}</td>
                                <td>{{ education.createDate }}</td>
                                <td>{{ education.date }}</td>
                                <td>{{ education.status }}</td>
                                <td>{{ education.author }}</td>
                                <td><a href="{{ education.file.url }}" alt="file teacher"/>{{ education.info }} informtion</td>
                                <td>{% for user in education.read.all %}
                                    {{ user.first_name }}
                                    <img src="{{ user.userprofile.photo.url  }}"
                                         alt="{{ user.userprofile.first_name }} {{ user.userprofile.last_name }}"
                                         style="width: 30px; height: 20px;  border-radius: 50%">
                                    {% endfor %}
                                </td>
                                <td><a href="{% url 'mark_education_as_read' education.id %}">I Read the Topic</a></td>
                                </td>{{ education.read }}</td>
                                <td>{{ education.toDate }}</td>
                                <td>{{ education.endDate }}</td>
                                <td><a href="{% url 'education_view' education.id %}"><i style='font-size:24px'class='fas'>&#xf085;</i>Detail</a>
                                    <a href="{% url 'education_delete' education.id %}"><i class='far fa-trash-alt'></i>Delete</a>
                                    <a href="{% url 'education_edit' pk=education.id %}">
                                        {% if user.is_authenticated %}
                                        <i style='font-size:24px' class='fas'>&#xf303;</i>Edit
                                        {% else %}
                                        <a class="nav-item nav-link" href="{% url 'login' %}">
                                            <i style='font-size:24px' class='fas'>&#xf303;</i>Вход</a>
                                        {% endif %}
                                    </a>
                                </td>
                                    <x-adminlte-button class="btn-lg" type="reset" label="Reset" theme="outline-danger" icon="fas fa-lg fa-trash"/>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}