{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Education! {% endblock title %}
{% block content %}


<div id="container" style="width: 100%;">
    <h1>Education Detail</h1>
    <h3>Name:       {{ education.name }}</h3>
    <h3>Info:       {{ education.info }}</h3>
    <h3>Teacher:    {{ education.teacher }}</h3>
    <h3>Date:       {{ education.date }}</h3>
    <h3>CreateDate: {{ education.createDate }}</h3>
    <h3>Status:     {{ education.status }}</h3>
    <h3>Author:     {{ education.author }}</h3>
    <h3>Image:      {{ education.file.url }}</h3>
    <h3>Read:
    {% for user in education.read.all %}
        {{ user.username }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
<!--    {{  education.read }}-->
    </h3>
    <h3>toDate:     {{ education.toDate  }}</h3>
    <h3>endDate:    {{ education.endDate  }}</h3>
</div>
{% endblock %}