{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Education! {% endblock title %}
{% block extra_js %}
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js "> </script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                searching: true,
                paging: true
            });
        });
    </script>
{% endblock extra_js %}

{% block content %}
<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-header">

</div>
<!-- /.card-header -->
<div class="card-body">

    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{%url 'education_create'%}" class="btn btn-primary"><i class="fa-sharp fa-solid fa-plus"></i>&nbsp;Add Education</a>
        </li>
    </ul>
<table id="example" class="table table-bordered table-hover">
  <thead>
      <tr>
          <th>Name</th>
          <th>Teacher</th>
          <th>Info</th>
          <th>Date</th>
          <th>CreateDate</th>
          <th>status</th>
          <th>author</th>
          <th>file</th>
          <th>read</th>
          <th>toDate</th>
          <th>endDate</th>
          <th>deystviya</th>
      </tr>
   </thead>
    {% for education in education_list %}
      <tr>
            <td>{{ education.name }}</td>
            <td>{{ education.teacher }}</td>
            <td>{{ education.info }}</td>
            {% if education.date == datetime.today %}
                <td style="background: red;">{{ education.date }}</td>
            {% elif education.date > datetime.today %}
                <td style="background: blue;">{{ education.date }}</td>
            {% elif education.date < datetime.today %}
                <td style="background: green;">{{ education.date }}</td>
            {% else %}
                <td style="background: yellow;">{{ education.date }}</td>
            {% endif %}
            <td>{{ education.createDate }}</td>
            <td>{{ education.status }}</td>
            <td>{{ education.author }}</td>
            <td><a href="{{ education.file.url }}"alt="file teacher">{{ education.file.url }}</td>
            <td>{{ education.read }}</td>
            <td>{{ education.toDate }}</td>
            <td>{{ education.endDate }}</td>


           <td><a href="{% url 'education_view' education.id %}"><i style='font-size:24px' class='fas'>&#xf085;</i>Detail</a>

              <a href="{% url 'education_delete' education.id %}"><i class='far fa-trash-alt'></i>Delete</a>

              <a href="{% url 'education_edit' pk=education.id %}">
                  {% if user.is_authenticated %}
                  <i style='font-size:24px' class='fas'>&#xf303;</i>Edit
                  {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">
                    <i style='font-size:24px' class='fas'>&#xf303;</i>Вход</a>
                  {% endif %}
              </a>
          </td>
    <x-adminlte-button class="btn-lg" type="reset" label="Reset" theme="outline-danger" icon="fas fa-lg fa-trash"/>
  </tr>
{% endfor %}
    </tbody>
</table>
    <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
                {% endif %}
            </ul>
        </nav>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock content %}