{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Вазифаллар! {% endblock title %}
{% block extra_js %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<!--<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css">-->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>
<script>
        $(document).ready(function() {
            $('#example').DataTable({
                searching: true,
                paging: true
            });
        });


</script>
{% endblock extra_js %}
{% block content %}
<h1>Вазифалар рўйхати</h1>
<section class="content">
    <div class="h-auto d-inline-block">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="{%url 'ticket_create'%}" class="btn btn-primary"><i
                                        class="fa-sharp fa-solid fa-plus"></i> вазифа яратиш</a>
                            </li>
                        </ul>
                        <table id="example" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>номи</th>
                                <th>изох</th>
                                <th>комплекс номи</th>
                                <th>муаммо номи</th>
                                <th>компания номи</th>
                                <th>тегишли ходимлар</th>
                                <th>ҳамкор ходимлар</th>
                                <th>яратилган вақти</th>
                                <th>бошланиш вақти</th>
                                <th>тугаш вақти</th>
                                <th>ўзгартирилган вақти</th>
                                <th>тегишли файл</th>
                                <th>ҳолати</th>
                                <th>муаллиф</th>
                                <th>ранги</th>
                                <th>амалиёт</th>
                            </tr>
                            </thead>
                            {% for ticket in ticket_list %}
                            <tr>
                                <td><a href="{% url 'ticket_view' ticket.id %}">{{ ticket.name }}</a></td>
                                <td>{{ ticket.note }}</td>
                                <td>{{ ticket.compleks }}</td>
                                <td>{{ ticket.problem.name }}</td>
                                <td>{{ ticket.company.name }}</td>
                                <td>{% for user in ticket.user.all %}
                                    {{ user.username }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ ticket.partnyor.fio }}</td>
                                <td>{{ ticket.createDate }}</td>
                                <td>{{ ticket.start }}</td>
                                <td>{{ ticket.end }}</td>
                                <td>{{ ticket.updatedDate }}</td>
                                <td><img src="{{ ticket.file.url }}" alt="Description of the image" width="100"
                                         height="100"></td>
                                <td>{{ ticket.status }}</td>
                                <td>{{ ticket.author }}</td>
                                <td>{{ ticket.color }}</td>
                                <td>
                                    <a href="{% url 'ticket_view' ticket.id %}"><i style='font-size:24px' class='fas'>&#xf085;</i>кўриш</a>
                                    <a href="{% url 'ticket_delete' ticket.id %}"><i class='far fa-trash-alt'></i>ўчириш</a>
                                    <a href="{% url 'ticket_edit' pk=ticket.id %}">ўзгартириш
                                        {% if user.is_authenticated %}
                                        <i class='fas'>&#xf303;</i>
                                        {% else %}
                                        <a class="nav-item nav-link" href="{% url 'login' %}">
                                            <i class='fas'>&#xf303;</i>кириш</a>
                                        {% endif %}
                                    </a>
                                </td>
                                <x-adminlte-button class="btn-lg" type="reset" label="Reset" theme="outline-danger"
                                                   icon="fas fa-lg fa-trash"/>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}