{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Ticket CREATE! {% endblock title %}
{% block content %}
<div class="row">
    <div class="col-10 offset-1">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Ticket Create</h2>
            </div>
            <form method="POST" enctype="multipart/form-data" class="row gy-2 gx-3 align-items-center">{% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 form-group">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="name">Name</label>
                                <textarea value="{{ ticket.name }}" id="name" name="name"
                                          class="form-control form-control-lg" rows="3"
                                          placeholder="Enter ...">
                                {{ todo.name }}
                                </textarea>
                            </div>
                        </div>
                        <div class="col-6 form-group">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="note">Note</label>
                                <textarea value="{{ ticket.note }}" id="note" name="note"
                                          class="form-control form-control-lg" rows="3"
                                          placeholder="Enter ...">
                                {{ todo.note }}
                                </textarea>
                            </div>
                        </div>
                        <div class="col-6 form-group">
                            <label for="company">Select Compleks:</label>
                            <select class="form-control" id="compleks" name="compleks_id">
                                {% for compleks in complekss %}
                                <option value="{{ compleks.id }}">{{ compleks.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6 form-group">
                            <label for="problem">Select Problem:</label>
                            <select class="form-control" id="problem" name="problem_id">
                                {% for problem in problems %}
                                <option value="{{ problem.id }}">{{ problem.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 form-group">
                            <label for="company">Select Company:</label>
                            <select class="form-control" id="company" name="company_id">
                                {% for company in companys %}
                                <option value="{{ company.id }}">{{ company.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 form-group">
                            <label for="partnyor">Select Partnyor:</label>
                            <select class="form-control" id="partnyor" name="partnyor_id">
                                {% for partnyor in partnyors %}
                                <option value="{{ partnyor.id }}">{{ partnyor.fio }}</option>
                                {% endfor %}
                            </select>
                        </div>
<!--                        <div class="col-4 form-group">-->
<!--                            <label for="user">Select User:</label>-->
<!--                            <select class="form-control" id="user" name="user_id" >-->
<!--                                {% for user in users %}-->
<!--                                <option value="{{ user.id }}"> {{user.last_name}} {{user.first_name}}</option>-->
<!--                                {% endfor %}-->
<!--                            </select>-->
<!--                        </div>-->
                        <div class="col-4 form-group">
                            <label for="user">Select User:</label>
                            <select class="form-control" id="user" name="user_id" multiple>
                                {% for user in users %}
                                <option value="{{ user.id }}"> {{ user.last_name }} {{ user.first_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-6 form-group">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="color">Color</label>
                                <input type="color" id="color" value="{{ todo.color }}"
                                       class="form-control form-control-lg" name="color"/>
                            </div>
                        </div>
                         <div class="col-6 form-group">
                             <label for="file">Upload New Image:</label><br>
                            <input type="file" id="file" class="form-control form-control-lg"
                                   value="{{ ticket.file.url }}"
                                   name="file"><br>
                        </div>
                        <div class="col-6 form-group">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="start">Start</label>
                                <input type="datetime-local" id="start" value="{{ ticket.start }}"
                                       class="form-control form-control-lg"
                                       name="start"/>
                            </div>
                        </div>
                        <div class="col-6 form-group">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="end">End</label>
                                <input type="datetime-local" id="end" value="{{ ticket.end }}"
                                       class="form-control form-control-lg"
                                       name="end"/>
                            </div>
                        </div>

                        <div class="col-6 form-group">
                            <div class="form-control-lg custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="statusCheckbox" name="status" {% if ticket.status %}checked{% endif %}>
                                <label class="custom-control-label" for="statusCheckbox">Status </label>
                            </div>
                        </div>
                        <div class="col-6 form-group">
                            <button type="submit" class="btn btn-primary">Ticket +</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}