{% extends 'adminlte/base.html' %}
{% block title %}Python Django Ajax FullCalender For Tickets (Create, Read, Update and Delete){% endblock title %}
{% block extra_head %}
{% include '_calendar_styles.html' %}
{% endblock %}
{% block content %}
<div class="row">
    <div id="external-events" class="col-md-3">
        <div class="mb-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Навбатчилар рўйхати</h4>
                </div>
                <div class="card-body">
                    <div>
                        {% for user in users %}
                            {% if user.userprofile.role == null %}
                                <div data-user-id="{{ user.id }}"
                                     class="external-event bg-success ui-draggable ui-draggable-handle"
                                     style="position: relative;">
                                    {{ user.first_name }} {{ user.username }} {{ user.last_name }}

                                    {% if user.userprofile.photo %}
                                        <img src="{{ user.userprofile.photo.url }}" alt="User Avatar"
                                             style="width: 30px; height: 40px;">
                                    {% else %}
                                        <img src="https://via.placeholder.com/128" alt="User Avatar">
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
                <div class="card">
            <div class="card-header">
                <h4 class="card-title">Ишлар рўйхати</h4>
            </div>
            <div class="card-body">
                <div>
                    {% if todos %}
                        <h2>Менинг ишларим</h2>
                        {% for todo in todos %}
                            <div data-todo-id="{{ todo.id }}"
                                 class="external-event bg-success ui-draggable ui-draggable-handle"
                                 style="position: relative;">
                                {{ todo.name }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Ишлар мавжуд эмас!</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Вазифалар рўйхати</h4>
            </div>
            <div class="card-body">
                <div>
                    {% if user.is_authenticated %}
                    <h1>Менинг вазифаларим</h1>
                    {% for ticket in user.tickets.all %}
                    <div data-ticket-id="{{ ticket.id }}"
                         class="external-event bg-success ui-draggable ui-draggable-handle"
                         style="position: relative;">
                        {{ ticket.name }}
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>Вазифалар мавжуд эмас!</p>
                    {% endif %}
                </div>
            </div>
        </div>
<!--        <div class="card">-->
<!--            <div class="card-header">-->
<!--                <h4 class="card-title">Мухим тадбирлар</h4>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <div>-->
<!--                    {% for event in events %}-->
<!--                    {% if user.is_authenticated and event.author.id == request.user.id %}-->
<!--                    <div data-ticket-id="{{ event.id }}"-->
<!--                         class="external-event bg-success ui-draggable ui-draggable-handle"-->
<!--                         style="position: relative;"> {{ event.name }}{{ " " }}{{ event.author }}-->
<!--                    </div>-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body p-0">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
{% include '_calendar_scripts.html' %}
{% include 'calen.html' %}
{% endblock %}