{% extends 'adminlte/base.html' %}
{% block title %} Postlar! {% endblock title %}

{% block content %}
 <h1>All company list</h1>
 <div class="card-body">
     <table id="example2" class="table table-bordered table-hover">
  <thead>
      <tr>
          <th>name</th>
          <th>created</th>
          <th>status</th>

      </tr>
  </thead>
  <tbody>
    {% for company in company_list %}
      <tr>
        <td>{{ company.name }}</td>
        <td>{{ company.created }}</td>
        <td>{{ company.status }}</td>
        <td>{{ company.creatorId }}</td>
        <td style="font-family: Calibri" >
                    {% if company.status == '1'  %}
                        Activ
                    {% else %}
                        Noactiv
                    {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


{% endblock content %}