{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Postlar! {% endblock title %}
{% block content %}
    {% for problems in problems_list %}
         <div class="card" style="width: 50rem;">

            <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Login Time</th>
                <th>IP Address</th>
                <th>User Agent</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in login_history %}
            <tr>
                <td>{{ entry.user.username }}</td>
                <td>{{ entry.login_time }}</td>
                <td>{{ entry.ip_address }}</td>
                <td>{{ entry.user_agent }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No login history available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    </div>
{% endblock content %}