{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}
{% block extra_js %}
<script type="text/javascript" src="/static/js/Chart.min.js"></script>
<script type="text/javascript" src="/static/js/chart.js"></script>
<script type="text/javascript">
    var config = {
      type: 'pie',
      startAngle: -90,
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: ['blue','red','yellow','green','gray'],
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

</script>
{% endblock %}
{% block title %} Partnyor! {% endblock title %}

{% block content %}
<div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>
{% endblock content %}