{% extends 'adminlte/base.html' %}
{% load render_table from django_tables2 %}
<div class="card-body">
     <table id="example2" class="table table-bordered table-hover">
  <thead>
      <tr>
          <th>name</th>
          <th>date</th>
          <th>author</th>
          <th>status</th>

      </tr>
  </thead>
  <tbody>
    {% for problem in problem_list %}
      <tr>
        <td>{{ problem.name }}</td>
        <td>{{ problem.created }}</td>
        <td>{{ problem.creatorId }}</td>
        <td style="font-family: Calibri" >
                    {% if problem.status == '1'  %}
                    Activ
                    {% else %}
                        Noactiv
                    {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% render_table table %}