{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Postlar! {% endblock title %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js "> </script>



   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


{% block content %}
 <h1>All Problem list</h1>

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-header">
<h3 class="card-title">DataTable with minimal features & hover style</h3>
</div>
<!-- /.card-header -->
<div class="card-body">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{%url 'problem_create'%}" class="btn btn-primary"><i class="fa-sharp fa-solid fa-plus"></i>&nbsp;Add Problems</a>
        </li>
    </ul>
<table id="example" class="table table-bordered table-hover">
  <thead>
      <tr>
          <th>name</th>
          <th>date</th>
          <th>author</th>
          <th>status</th>
          <th>deystviya</th>
          <th>deystviya</th>
      </tr>
   </thead>

    {% for problem in problem_list %}
      <tr>
            <td>{{ problem.name }}</td>
            <td>{{ problem.created }}</td>
            <td>{{ problem.creatorId }}</td>
            <td style="font-family: Calibri" >
                    {% if problem.status == '1'  %}
                    Activ
                    {% else %}
                        Noactiv
                    {% endif %}
            </td>
          <td><a href="{% url 'problem_edit' problem.id %}">Detail</a>

          </td>
          <td>
              <a href="{% url 'problem_delete' problem.id %}">delete</a>
          </td>


      </tr>
{% endfor %}
    <tfoot>
    <tr>
         <th>name</th>
          <th>date</th>
          <th>author</th>
          <th>status</th>
        <th>dfdsfd</th>
        <th>dfdsfd</th>
    </tr>
    </tfoot>
</table>
</div>
</div>
</div>
</div>
</div>

</section>
{% endblock content %}