{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}
{% block extra_js %}
<script type="text/javascript" src="/static/js/Chart.min.js"></script>
<script type="text/javascript" src="/static/js/chart.js"></script>
<script type="text/javascript">
        var ctx = document.getElementById('ticketStatusChart').getContext('2d');
        var statusLabels = {{ status_labels|safe }};
        var statusData = {{ status_data|safe }};
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: statusLabels,
                datasets: [{
                    label: 'Ticket Status Distribution',
                    data: statusData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
</script>
<script type="text/javascript" src="/static/js/npmchart.js"></script>
{% endblock %}
{% block title %} Partnyor! {% endblock title %}

{% block content %}
    <canvas id="ticketStatusChart" width="400" height="400"></canvas>
{% endblock content %}