{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Ҳамкор ходим! {% endblock title %}
{% block content %}


<div id="container" style="width: 100%;">
    <h1>Ҳамкор ходим хақида</h1>
    <h3>ф.и.о: <b>{{ partnyor.fio }}</b></h3>
    <h3>логин: <b>{{ partnyor.login }}</b></h3>
    <h3>пароль: <b>{{ partnyor.password }}</b></h3>
    <h3>яратилган вақти: <b>{{ partnyor.createDate }}</b></h3>
    <h3>муаллиф: <b>{{ partnyor.author }}</b></h3>
    <h3>расми: <b>{{ partnyor.image }}</b></h3>
    <h3>тел рақами: <b>{{ partnyor.contacts }}</b></h3>
    <h3>ҳолати: <b>{{ partnyor.status }}</b></h3>
    <h3>компаия: <b>{{ partnyor.companyId }}</b></h3>
    <h3>ёши: <b>{{ partnyor.age }}</b></h3>
</div>

{% endblock %}
